#$ sudo blkid -o list |grep /dev/sda3
#/dev/sda3  ext4             /media/werner/e3e084db-7f7f-47cb-866b-743b7c5758ec1 e3e084db-7f7f-47cb-866b-743b7c5758ec

# 观察到的 grub-install 内部会这样调用：

# 分别使用 /usr/sbin/grub-install ， /usr/local/sbin/grub-install 进行 efi安装，加上 -v , 搜索 log。即可。

# grub-mkimage --directory '/usr/local/lib/grub/x86_64-efi' --prefix '(,gpt3)/grubconfig.git/boot/grub' --output '/mnt/sda3/grubconfig.git/boot/grub/x86_64-efi/core.efi'  --dtb '' --format 'x86_64-efi' --compression 'auto'  'ext2' 'part_gpt'

# or

# 我又加了  fat part_msdos 模块。

# sudo /usr/bin/grub-mkimage --directory '/usr/lib/grub/x86_64-efi' --prefix '/grubconfig.git/boot/grub' --output '/mnt/sda3/grubconfig.git/boot/grub/x86_64-efi/core.efi' --format 'x86_64-efi' --compression 'auto'  --config '/mnt/sda3/grubconfig.git/boot/grub/x86_64-efi/load.cfg' fat part_msdos 'ext2' 'part_gpt' 'search_fs_uuid' configfile

# sudo blkid -o list | grep /dev/sda3
# /dev/sda3  ext4             /media/werner/e3e084db-7f7f-47cb-866b-743b7c5758ec1 e3e084db-7f7f-47cb-866b-743b7c5758ec




# 该文件是以下面的命令被调用的：
# 所以，其中的变量设定不会影响环境。
# configfile ${cmdpath}/grug.cfg


for file in (hd0,*)/grubconfig.git/boot/grub; do
  regexp -s 1:rootdev -s 2:pathname '^(\(.*\))(.*)$' "$file"
  set root=$rootdev
  set prefix=($root)$pathname
#   如果下面的命令是最后一条语句，是可以省略的：
  configfile $prefix/grub.cfg
  break
done

#search.fs_uuid e3e084db-7f7f-47cb-866b-743b7c5758ec root 
#set prefix=($root)'/grubconfig.git/boot/grub'
#configfile $prefix/grub.cfg
