# Partition holding files
#probe -u $root --set=rootuuid
#set imgdevpath="/dev/disk/by-uuid/$rootuuid"
#export imgdevpath rootuuid



# 参考这里的方法加入 placeholder 文件：
#https://github.com/hongyi-zhao/multibootusb-1/blob/master/grub.cfg


# partition holding files
#insmod search_fs_uuid
search --file --no-floppy --set=root /boot/grub/mbgrub.placeholder
probe -u $root --set=rootuuid
set imgdevpath="/dev/disk/by-uuid/$rootuuid"
export imgdevpath rootuuid 




# Custom variables
set isopath="/boot/iso"
export isopath

# Load modules
insmod regexp
insmod all_video

# MultiBoot USB menu
submenu "Multiboot ->" {
  # Warning for 32-bit systems
  if ! cpuid -l; then
    clear
    echo "This is a 32-bit computer."
    echo "You won't get to use 64-bit software on it."
    echo
    echo -n "To continue, press ESC or wait 10 seconds... "
    sleep --interruptible 10
    echo
    echo
  fi

  # Load custom configuration
  if [ -e "$prefix/grub.cfg.local" ]; then
    source "$prefix/grub.cfg.local"
  fi

  # Load configuration files
  echo -n "Loading configuration files... "
  for cfgfile in $prefix/mbgrub.cfg.d/*.d/*.cfg; do
    source "$cfgfile"
  done
}



