# Partition holding files

# root, prefix 是从 grubx64.efi 所使用的 grub.cfg
# 设定的。

# __root, __prefix 是对应于自定义的一些配置的路径。
# 如果要完全基于 grub-mkstandalone 工作，那么，就不能改变
# root 和 prefix 的值，因为其他的位置可能没有 相应的 mod 等文件。

# 基于 grub-mkstandalone 的方法，默认的变量如下： 
#root=memdisk
#prefix=(memdisk)/boot/grub



#probe -u $root --set=rootuuid
probe -u $__root --set=rootuuid

set imgdevpath="/dev/disk/by-uuid/$rootuuid"
export imgdevpath rootuuid

# Custom variables
#set isopath="/boot/isos"

set isopath="$__root/boot/isos"
export isopath

# Load modules
insmod regexp
insmod all_video

# MultiBoot USB menu
submenu "Multiboot ->" {
  # Warning for 32-bit systems
  if ! cpuid -l; then
    clear
    echo "This is a 32-bit computer."
    echo "You won't get to use 64-bit software on it."
    echo
    echo -n "To continue, press ESC or wait 10 seconds... "
    sleep --interruptible 10
    echo
    echo
  fi

  # Load custom configuration
#  if [ -e "$prefix/mbusb.cfg.local" ]; then
#    source "$prefix/mbusb.cfg.local"
#  fi

  if [ -e "$__prefix/mbusb.cfg.local" ]; then
    source "$__prefix/mbusb.cfg.local"
  fi


  # Load configuration files
  echo -n "Loading configuration files... "
#  for cfgfile in $prefix/mbusb.d/*.d/*.cfg; do
#    source "$cfgfile"
#  done

  for cfgfile in $__prefix/mbusb.d/*.d/*.cfg; do
    source "$cfgfile"
  done

}





